/* You can add global styles to this file, and also import other style files */

// import
// @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,700;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


// page reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// colors
$bg-main-color: #24232C;
$bg-secondary-color: #A4FFAF;
$bg-alt-color: #18171F;
$bg-faded-color: #817D92;
$bg-smoke-white: #E6E5EA;
$bg-body-color: #131219;
$bg-placeholder: #55535C;
$bg-transparent: transparent;

// password strength colors
$bg-too-weak: #F64A4A;
$bg-weak: #FB7C58;
$bg-medium: #F8CD65;
$bg-strong: $bg-secondary-color;



// font
$general-font: "JetBrains Mono", monospace;



// flex styles


// body
body {
    display: flex;
    justify-content: center;
    align-items: center;

    // font-family: "JetBrains Mono", monospace;
    font-family: $general-font;
    color: $bg-smoke-white;

    width: 100%;
    height: 100dvh;

    background: $bg-body-color;
}

// app-component
app-root {
    width: 90%;
    height: 540px; /* mostly likely remove */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}


@media screen and (min-width: 780px) {
    app-root {
        width: 540px;
    }
}